<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>WebService Application</display-name>

	<!-- Auto scan REST service -->
	<context-param>
		<param-name>resteasy.scan</param-name>
		<param-value>false</param-value>
	</context-param>

	<!-- this need same with resteasy servlet url-pattern -->
	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/rest</param-value>
	</context-param>
	<context-param>
		<param-name>resteasy.resources</param-name>
		<param-value>com.test.rest.service.HelloWorldService</param-value>
	</context-param>
	<!-- <listener> <listener-class> org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap 
		</listener-class> </listener> -->

	<servlet>
		<servlet-name>resteasy-servlet</servlet-name>
		<servlet-class>
			org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>resteasy-servlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<servlet>
    <display-name>SoapService</display-name>
    <servlet-name>SoapService</servlet-name>
    <servlet-class>
        com.study.soap.service.SoapService
    </servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>SoapService</servlet-name>
    <url-pattern>/ws/SoapService</url-pattern>
</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>WSDL</web-resource-name>
			<url-pattern>/ws/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection> 
		<auth-constraint/>
	</security-constraint> 
</web-app>

